:root {
  --bg-gray-color: #f4f4f4;
  --bg-footer-color: #1a1a1a;
  --button-color: #4762ff;
  --card-gray-color: #f4f6fa;
  --white-color: #fff;
}

html {
  align-items: center;
  box-sizing: border-box;
  width: 1440px;
}

body {
  background-color: var(--white-color);
  margin: 0 165px;
}

.flex {
  display: flex;
}

/* header*/

.header {
  flex-wrap: wrap;
}
.header-top {
  align-items: center;
  border-bottom: 1px solid rgba(51, 51, 51, 0.1);
  height: 72px;
  justify-content: space-between;
  width: 100%;
}

.header-top-left-part {
  column-gap: 45px;
}

.header-left-col {
  column-gap: 8px;
  row-gap: 4px;
}

.header-center-col {
  border-left: 1px solid rgba(51, 51, 51, 0.1);
  column-gap: 8px;
  padding-left: 19px;
  row-gap: 4px;
}

.header-right-part {
  column-gap: 8px;
  row-gap: 4px;
}

.header-info {
  column-gap: 8px;
  flex-direction: column;
  margin: 0;
}

.header-bottom {
  align-items: center;
  height: 77px;
  justify-content: space-between;
  width: 100%;
}

.header-bottom-menu{
  align-items: center;
  column-gap: 117px;
  margin-left: -11px;
}

.menu {
  align-items: center;
  column-gap: 46px;
  cursor: pointer;
}

.menu-link {
  text-decoration: none;
}

.button {
  align-content: center;
  background-color: var(--button-color);
  border: none;
  cursor: pointer;
}

.menu-button {
  border-radius: 5px;
  height: 40px;
  width: 179px;
}

.header-button {
  align-items: center;
}

/*Preview*/

.preview {
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.preview-box {
  align-items: flex-start;
  flex-direction: column;
  height: 296px;
  padding-top: 65px;
  row-gap: 32px;
}

.preview-box-info {
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 16px;
  width: 540px;  
}

.preview-info-header {
  margin: 0;
}

.preview-info-text {
  height: 44px;
  width: 496px;
}

.preview-button {
  border-radius: 8px;
  height: 52px;
  width: 196px;
}

.preview-img {
  margin: 34px -165px 0 -165px;
}

/* card-box */

.service {
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.service-info {
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 29px;
  row-gap: 18px;  
  }
  
.service-info-header {
  height: 48px;
  margin-bottom: 0;
  margin-top: 0;
  text-align: center;
  width: 648px;
}

.service-info-text {
  height: 44px;
  width: 540px;
  text-align: center;
}

.service-card {
  column-gap: 36px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 48px 32px;
  row-gap: 32px;
}

.card-item {
  background-color: var(--card-gray-color);
  border-radius: 9px;
  position: relative;
  height: 262px;
  padding: 25px 0 0 28px;
  width: 477px;
}

.card-info {
  flex-direction: column;
}

.card-info-header {
  height: 58px;
  margin: 0;
  width: 366px;
}

.card-info-text {
  height: 76px;
  margin-top: 15px;
  width: 253px;
}

.card-img {
  bottom: 0;
  position: absolute;
  right: 0;
}

/* logo-box */

.logo {
  column-gap: 70px;
  justify-content: space-between;
  padding: 67px 0;
  width: 100%;
}

.logo-info {
  flex-direction:column;
  height: 290px;
  row-gap: 16px;
  width: 576px;
}

.logo-info-header {
  margin: 0;
}

.logo-info-text {
  flex-direction: column;
  row-gap: 13px;
  width: 100%;
}

.logo-grid {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
}

.scania {
  grid-column-start: 1;
  grid-row-start: 1;
}

.volvo {
  grid-column-start: 3;
  grid-row-start: 1;
}

.man {
  grid-column-start: 2;
  grid-row-start: 2;
}

.daf {
  grid-column-start: 1;
  grid-row-start: 3;
}

.reno {
  grid-column-start: 3;
  grid-row-start: 3;
}

/* map-box*/

.map {
  align-items: center;
  background-color: var(--bg-gray-color);
  column-gap: 21px;
  margin-left: -165px;
  width: 1440px;
  }
  
.map-info {
  flex-direction: column;
  padding: 96px 0 188px 165px;
  row-gap: 16px;
  }
  
.map-info-header {
  height: 58px;
  margin: 0px;
  width: 506px;
}
  
.map-info-text {
  flex-direction: column;
  height: 158px;
  row-gap: 13px;
  width: 540px;
}

/* question */

.question {
  align-items: center;
  background-image: url(../img/background-img.png);
  height: 687px;
  justify-content: right;
  margin-left: -165px;
  width: 1440px;
}

.question-window {
  background-color: var(--white-color);
  border-radius: 15px;
  flex-direction: column;
  margin: 70px 165px 69px 664px;
  padding: 39px 71px;
  row-gap: 36px;
}

.window-info {
  flex-direction: column;
  row-gap: 16px;
}

.window-info-header {
  margin: 0;
}

.window-info-text {
  height: 44px;
  width: 467px;
}

.window-input {
  flex-direction: column;
  row-gap: 23px;
}

.input-item {
  background-color: rgba(71, 98, 255, 0.08);
  border: none;
  border-radius: 8px;
  height: 56px;
  width: 469px;
}

.input-item::placeholder {
  padding-left: 20px;
}

.question-button {
  border-radius: 8px;
  height: 66px;
}

.img {
  object-fit:cover;
  width:100%;
}

/* footer */

.footer {
  align-items: center;
  background-color: var(--bg-footer-color);
  flex-direction: column;
  height: 391px;
  margin-left: -165px;
  width: 1440px;
}

.footer-info {
  align-items: start;
  border-bottom: 0.7px solid #474747;
  column-gap: 76px;
  height: 213px;
  padding: 50px 0 67px 0;
}

.footer-col-box {
  column-gap: 13px;
  height: 213px;
  width: 887px;
}

.footer-cols {
  flex-direction: column;
  row-gap: 15px;
  width: 285px;
}

.info-center-col {
  flex-direction: column;
  row-gap: 19px;
}

.footer-cols-text {
  flex-direction: column;
  row-gap: 8px;
}

.col-bottom {
  align-items: flex-start;
  flex-direction: column;
  justify-content: left;
  row-gap: 16px;
}

.contact-row {
  align-items:center;
  column-gap: 5px;
  flex-direction: row;
  justify-content:space-between;
}

.footer-copyright {
  align-items:center;
  flex-direction: row;
  height: 61px;
  padding: 18px 0 18px 0;
  width: 1160px;
}

/* icons */

[class^="icon-"], [class*=" icon-"] {

  font-family: 'IconFont' !important;
  speak: never;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.icon-Whatsapp:before {
  color: #fff;
  content: "\e905";
}

.icon-clock:before {
  content: "\e904";
}

.icon-phone:before {
  content: "\e903";
}

.icon-Facebook:before {
  color: #f5f5f6;
  content: "\e902";
}

.icon-location:before {
  content: "\e901";
}

.icon-Instagram:before {
  color: #f5f5f6;
  content: "\e900";
}

/* Typography */

.inter-14-400-info {
  color: rgba(51, 51, 51, 0.7);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  
}

.inter-14-500-info {
  color: rgba(51, 51, 51, 0.7);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
}

.inter-16-500-menu {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
}

.inter-16-500-footer {
  color: #ffffff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
}

.inter-16-600-button {
  color: var(--white-color);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.inter-18-600-button {
  color: var(--white-color);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
}

.inter-18-600-button {
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
}

.inter-60-bold {
  font-family: Inter;
  font-size: 60px;
  font-style: normal;
  font-weight: bold;
  line-height: 76px;
}

.inter-40-bold {
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: bold;
  line-height: 48px;
}

.inter-18-400 {
  color: rgba(51, 51, 51, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.inter-24-bold-card-header {
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
  line-height: 29px;
}

.inter-16-400-card {
  color: rgba(51, 51, 51, 0.8);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 19px;
}

.inter-16-400-footer {
  color: #ffffff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 19px;
}

.inter-48-bold {
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: bold;
  line-height: 58px;
}

.inter-56-bold {
  font-family: Inter;
  font-size: 56px;
  font-style: normal;
  font-weight: bold;
  line-height: 68px;
}

.inter-20-500-footer-header {
  color: #ffffff;
  font-size: 20px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.inter-12-400-copyright {
  color: #d9dbe1;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

