:root {
  --white-color: #ffffff;
  --bg-gray-color: #f4f4f4;
  --card-gray-color: #f4f6fa;
  --bg-footer-color: #1a1a1a;
  --button-color: #4762ff;

}

html {
  box-sizing: border-box;
  width: 1440px;
  align-items: center;
}

body {
  margin: 0 165px;
  background-color: var(--white-color);
}

.flex {
  display: flex;
}

/* header*/

.header {
  flex-wrap: wrap;
}
.header-top {
  align-items: center;
  height: 72px;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid rgba(51, 51, 51, 0.1);
}

.header-top-left-part {
  column-gap: 45px;
}

.header-left-col {
  flex-direction: column;
  row-gap: 4px;
}

.header-center-col {
  flex-direction: column;
  row-gap: 4px;
  padding-left: 19px;
  border-left: 1px solid rgba(51, 51, 51, 0.1);
}

.header-right-col {
  flex-direction: column;
  row-gap: 2px;
}

.header-upper {
  column-gap: 8px;
  margin: 0;
  align-items: center;
}

.header-down {
  margin-left: 22px;
}

.header-bottom {
  justify-content: space-between;
  width: 100%;
  height: 77px;
}

.header-bottom-left-part {
  column-gap: 117px;
  align-items: center;
  margin-left: -11px;
}

.menu {
  cursor: pointer;
  align-items: center;
  column-gap: 46px;
}

.button {
  cursor: pointer;
  align-content: center;
  background-color: var(--button-color);
  border: none;
}

.menu-button {
  height: 40px;
  width: 179px;
  border-radius: 5px;
}

.header-bottom-right-part {
  align-items: center;
}

/*Preview*/

.preview {
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.info-box {
  width: 540px;
  height: 296px;
  flex-wrap: wrap;
}

.info-box-header {
  margin-top: 77px;
  margin-bottom: 16px;
}

.text-content {
  width: 496px;
  height: 44px;
  margin-bottom: 32px;
}

.preview-button {
  width: 196px;
  height: 52px;
  border-radius: 8px;
}

.preview-img {
  margin-top: 34px;
}

/* card-box */

.card-box {
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.card-info {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 18px;
  justify-content: center;
  margin-top: 29px;
  }
  
.header-card {
  text-align: center;
  width: 648px;
  height: 48px;
  margin-top: 0;
  margin-bottom: 0;
}

.card-text {
  width: 540px;
  height: 44px;
  text-align: center;
}

.card-part {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 36px;
  row-gap: 32px;
  margin: 48px 32px;
  
}

.card-item {
  position: relative;
  width: 505px;
  height: 287px;
  padding: 25px 0 0 28px;
  background-color: var(--card-gray-color);
  border-radius: 9px;
}

.card-content {
  flex-direction: column;
}

.header-card-content {
  margin: 0;
  width: 366px;
  height: 58px;
}

.text-card-content {
  width: 253px;
  height: 76px;
  margin-top: 15px;
}

.card-img {
  position: absolute;
  right: 0;
  bottom: 0;
}

/* logo-box */

.logo-box {
  width: 100%;
  padding: 67px 0;
  column-gap: 70px;
  justify-content: space-between;
}

.logo-box-info-part {
  flex-direction:column;
  width: 576px;
  height: 290px;
  row-gap: 16px;
}

.logo-box-text-header {
  margin: 0;
}

.logo-box-text {
  width: 100%;
  flex-direction: column;
  row-gap: 22px;
}

.logo-box-logo-part {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  align-items: center;
}

.scania {
  grid-column-start: 1;
  grid-row-start: 1;
}

.volvo {
  grid-column-start: 3;
  grid-row-start: 1;
}

.man {
  grid-column-start: 2;
  grid-row-start: 2;
}

.daf {
  grid-column-start: 1;
  grid-row-start: 3;
}

.reno {
  grid-column-start: 3;
  grid-row-start: 3;
}

/* map-box*/

.map-box {
  width: 1440px;
  column-gap: 21px;
  align-items: center;
  background-color: var(--bg-gray-color);
  margin-left: -165px;
  }
  
.map-box-info-part {
  flex-direction: column;
  row-gap: 16px;
  padding: 96px 0 188px 165px;
  }
  
.map-box-text-header {
  margin: 0px;
  width: 506px;
  height: 58px;
}
  
.map-box-text {
  width: 540px;
  height: 158px;
  flex-direction: column;
  row-gap: 22px;
}

/* question */

.question {
  width: 1440px;
  height: 687px;
  background-image: url(../img/background-img.png);
  justify-content: right;
  margin-left: -165px;
  align-items: center;
}

.question-block {
  flex-direction: column;
  row-gap: 36px;
  background-color: var(--white-color);
  border-radius: 15px;
  margin: 70px 165px 69px 664px;
  padding: 39px 71px;
}

.question-block-info {
  flex-direction: column;
  row-gap: 16px;
}

.question-info-header {
  margin: 0;
}

.question-info-text {
  width: 467px;
  height: 44px;
}

.input-block {
  flex-direction: column;
  row-gap: 23px;
}

.input-item {
  width: 469px;
  height: 56px;
  background-color: rgba(71, 98, 255, 0.08);
  border: none;
  border-radius: 8px;
}

.input-item::placeholder {
  padding-left: 20px;
}

.send-button {
  height: 66px;
  border-radius: 8px;
}

/* footer */

.footer {
  flex-direction: column;
  align-items: center;
  width: 1440px;
  height: 391px;
  background-color: var(--bg-footer-color);
  margin-left: -165px;
}

.footer-info {
  height: 213px;
  column-gap: 76px;
  align-items: start;
  padding: 50px 0 67px 0;
  border-bottom: 0.7px solid #474747;
}

.footer-col-box {
  width: 887px;
  height: 213px;
  column-gap: 13px;
}

.footer-cols {
  flex-direction: column;
  width: 285px;
  row-gap: 15px;
}

.info-center-col {
  flex-direction: column;
  row-gap: 19px;
}

.footer-cols-content {
  flex-direction: column;
  row-gap: 8px;
}

.col-bottom {
  justify-content: left;
  flex-direction: column;
  row-gap: 16px;
  align-items: flex-start;
}

.contact-row {
  flex-direction: row;
  justify-content:space-between;
  align-items:center;
  column-gap: 5px;
}

.footer-copyright {
  flex-direction: row;
  height: 61px;
  width: 1160px;
  padding: 18px 0 18px 0;
  align-items:center;
}

/* icons */

[class^="icon-"], [class*=" icon-"] {

  font-family: 'IconFont' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Whatsapp:before {
  content: "\e905";
  color: #fff;
}

.icon-clock:before {
  content: "\e904";
}

.icon-phone:before {
  content: "\e903";
}

.icon-Facebook:before {
  content: "\e902";
  color: #f5f5f6;
}

.icon-location:before {
  content: "\e901";
}

.icon-Instagram:before {
  content: "\e900";
  color: #f5f5f6;
}

/* Typography */

.inter-14-400-info {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: rgba(51, 51, 51, 0.7);
}

.inter-14-500-info{
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: rgba(51, 51, 51, 0.7);
}

.inter-16-500-menu{
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.inter-16-500-footer{
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.inter-16-600-button{
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: var(--white-color);
}

.inter-18-600-button{
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  color: var(--white-color);
}

.inter-18-600-button{
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.inter-60-bold{
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 76px;
}

.inter-40-bold{
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
}

.inter-18-400{
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: rgba(51, 51, 51, 0.8);
}

.inter-24-bold-card-header{
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
}

.inter-16-400-card {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: rgba(51, 51, 51, 0.8);
}

.inter-16-400-footer {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.inter-48-bold{
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 58px;
}

.inter-56-bold{
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  line-height: 68px;
}

.inter-20-500-footer-header{
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.inter-12-400-copyright{
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: #d9dbe1;
}

