:root {
  --white-color: #FFFFFF;
  --bg-gray-color: #F4F4F4;
  --card-gray-color: #F4F6FA;
  --bg-footer-color: #1A1A1A;
  --button-color: #4762FF;

}

html {
  box-sizing: border-box;
  width: 1440px;
}

body {
  margin: 0 165px;
  background-color: var(--white-color);
}

.flex {
  display: flex;
}

.header {
  flex-wrap: wrap;
}
.header-top {
  align-items: center;
  height: 72px;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid rgba(51, 51, 51, 0.1);
}

.header-top-left-part {
  column-gap: 45px;
}

.header-left-col {
  flex-direction: column;
  row-gap: 4px;
}

.header-center-col {
  flex-direction: column;
  row-gap: 4px;
  padding-left: 19px;
  border-left: 1px solid rgba(51, 51, 51, 0.1);
}

.header-right-col {
  flex-direction: column;
  row-gap: 2px;
}

.header-upper {
  column-gap: 8px;
  margin: 0;
  align-items: center;
}

.header-down {
  margin-left: 22px;
}

.header-bottom {
  justify-content: space-between;
  width: 100%;
  height: 77px;
}

.header-bottom-left-part {
  column-gap: 117px;
  align-items: center;
  margin-left: -11px;
}

.menu {
  cursor: pointer;
  align-items: center;
  column-gap: 46px;
}

.button {
  background-color: var(--button-color);
  border: none;
  border-radius: 5px;
}

.menu-button {
  height: 40px;
  width: 179px;
  align-content: center;
}

.header-bottom-right-part {
  align-items: center;
}

/* icons */

[class^="icon-"], [class*=" icon-"] {

  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Whatsapp:before {
  content: "\e900";
  color: #fff;
}

.icon-clock:before {
  content: "\e901";
}

.icon-phone:before {
  content: "\e902";
}

.icon-Facebook:before {
  content: "\e903";
  color: #f5f5f6;
}

.icon-location:before {
  content: "\e904";
}

.icon-Instagram:before {
  content: "\e905";
  color: #f5f5f6;
}

/* Typography */

.inter-14-400-info {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: rgba(51, 51, 51, 0.7);
}

.inter-14-500-info{
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: rgba(51, 51, 51, 0.7);
}

.inter-16-500-menu{
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.inter-16-600-button{
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.inter-18-600-button{
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
}

.inter-18-600-button{
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.inter-60-bold{
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 76px;
}

.inter-40-bold{
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
}

.inter-18-400{
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.inter-24-bold-card-header{
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
}

.inter-16-400-card{
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

.inter-48-bold{
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 58px;
}

.inter-48-bold{
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 58px;
}

.inter-56-bold{
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  line-height: 68px;
}

.inter-20-500-footer-header{
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.inter-12-400-copyright{
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 112px;
  line-height: 24px;
}

